<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We got your new Bookmark <%= @bookmark.url %>.  Thanks for making Blocmark so great.</h1>
    <h2>Now for a little cleanup</h2>
    <p>Since you are not yet a member of Blockmark, we created a temporary account for you under email: <%= @user.email %>.  Your temporary username is <%= @user.user_name %> and your temporary password is <%= @user.password %>.  Sign in and change your temporary username and password.  Your Bookmark will automatically convert over.  Let's go to <%= link_to(Blocmark, @blocmark) %> now!</p>
  </body>
</html>
