<!-- <div class="container-fluid"> -->
<h1 class="text-center">Topic:  <%= @topic.title%></h1>

  <!-- <small> -->
    <div class="row">
      <div class="bookmark_elements" >
      <% @topic.bookmarks.each do |b| %>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <ul>
          <li><small><%= link_to b.url %> </small></li>
          <li>

              <%= link_to "Show", topic_bookmark_path(b.topic, b), class: 'btn-xs btn-info' %>

              <% if policy(b).update? %>
                <%= link_to "Edit", edit_topic_bookmark_path(b.topic, b), class: 'btn-xs btn-primary' %>
              <% end %>


              <% if policy(b).destroy? %>
                <%= link_to "Delete", [b.topic, b], method: :delete, class: 'btn-xs btn-danger', data: {confirm: 'Are you sure you wnat to delete this bookmark?'} %>
              <% end %>

          </li>
          <li><small>like/unlike status</small></li>
        </ul>
      </div>

      <% end %>
      </div>
    </div>

    <div class="row">
      <% if user_signed_in? %>
        <% if @topic.bookmarks.empty? %>
          <div class='col-md-3 col-sm-4 col-xs-4'>
            <%= link_to "Delete Topic", user_topic_path(current_user, @topic), method: :delete, class: 'btn-xs btn-danger', data: {confirm: 'Are you sure you want to delete this topic?'} %>
          </div>
        <% end %>
        <div class='col-md-3 col-sm-4 col-xs-4'>
          <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), remote: true, class: 'btn-xs btn-success' %>
        </div>
        <div class='col-md-6, col-sm-4 col-xs-4'>
          <div class='js-bookmark-form'>
          </div>
        </div>

      <% end %>
    </div>
